.academy {
  width: 100%;
  padding-top: 19px;
  padding-bottom: 47px;
  padding-left: 0;
  padding-right: 0;
}

.academy__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: $text-color;
  font-family: $font-secondary;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover,
  &:focus {
    .academy__icon {
      fill: $background-color-accent;
    }
  }

  &:active {
    opacity: 0.3;

    .academy__icon {
      fill: $background-color-accent;
    }
  }
}

.academy__icon {
  margin-top: 3px;
}

@media (min-width: $tablet) {
  .academy {
    padding: 0;
    margin-left: auto;
    justify-content: flex-end;
    min-width: unset;
    width: 315px;
  }

  .academy__icon {
    margin-left: 28px;
    margin-top: 1px;
  }
}

@media (min-width: $desktop) {
  .academy {
    width: 230px;
  }
}
