.additionally {
  padding-top: 18px;
}

.additionally__items {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 36px;
}

.additionally__title {
  margin-bottom: 29px;
  box-shadow: -20px 0 0 $background-color-main, 22px 0 0 $background-color-main;
  background-color: $background-color-main;
  display: inline-block;
}

@media (min-width: $tablet) {
  .additionally {
    padding-top: 0;
  }

  .additionally__title {
    margin-bottom: 79px;
    padding-left: 37px;
    box-shadow: 0 0 0 $background-color-main, 35px 0 0 $background-color-main;
  }

  .additionally__title-wrapper {
    &::before {
      top: 23px;
    }
  }

  .additionally__items {
    margin-bottom: 69px;
  }
}

@media (min-width: $desktop) {
  .additionally {
    width: 100%;
  }

  .additionally__items {
    margin-bottom: 0;
    width: 73.4%;
  }

  .additionally__title {
    padding-left: 0;
    box-shadow: -39px 0 0 $background-color-main, 34px 0 0 $background-color-main;
  }
}
