.catalogs-list {
  display: flex;
  flex-direction: column;
}

.catalogs-list__item {
  margin-bottom: 20px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet) {
  .catalogs-list__item {
    margin-bottom: 33px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .catalog-list__icon-wrapper {
    margin-top: 14px;
  }
}

@media (min-width: $desktop) {
  .catalogs-list {
    flex-direction: row;
    gap: 20px 80px;
    flex-wrap: wrap;
  }

  .catalogs-list__item {
    margin-bottom: 0;
  }
}
