.catalog__title {
  color: $text-color-additional;
  padding-top: 27px;
  margin-bottom: 40px;
  padding-left: 20px;
}

.catalog__items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0 20px;
  justify-content: center;
}

.catalog__container {
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: 768px) {
  .catalog__container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .catalog__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 141px 64px;
  }

  .catalog__title {
    margin-bottom: 164px;
    padding-left: 0;
  }
}

@media (min-width: $desktop) {
  .catalog__container {
    padding-left: 0;
    padding-right: 0;
  }

  .catalog__items {
    gap: 143px 80px;
  }

  .catalog__title {
    margin-bottom: 165px;
  }
}
