.catalog__title {
  color: $text-color-additional;
  padding-top: 27px;
  margin-bottom: 41px;
}

.catalog__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: 768px) {
  .catalog__container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .catalog__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 66px 60px;
  }

  .catalog__title {
    margin-bottom: 90px;
  }
}

@media (min-width: $dekstop) {
  .catalog__container {
    padding-left: 0;
    padding-right: 0;
  }

  .catalog__items {
    gap: 73px 79px;
  }
}
