.container {
  display: block;
  min-width: 280px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

@media (min-width: $tablet) {
  .container {
    width: 708px;
    padding: 0;
  }
}

@media (min-width: $dekstop) {
  .container {
    width: 1219px;
    padding: 0;
  }
}
