.container {
  display: block;
  min-width: 280px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  max-width: 1220px;
  width: 100%;
}

@media (min-width: $tablet) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: $desktop) {
  .container {
    padding: 0;
  }
}
