.footer {
  background-color: $background-color-special;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &--index {
    background-color: $background-color-main;
  }
}

.footer__logo {
  padding-top: 35px;
  padding-bottom: 14px;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer__picture {
  display: block;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .footer__logo {
    padding: 0;
    margin-right: 20px;
  }

  .footer__picture {
    width: 143px;
    height: 27px;
  }
}

@media (min-width: $desktop) {
  .footer__parthership {
    z-index: 1;
    background-color: $background-color-main;
    position: absolute;
  }

  .footer__container {
    align-items: unset;
  }
}
