.footer-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: $tablet) {
  .footer-menu {
    flex-direction: row;
    max-width: 1220px;
    padding: 49px 30px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: $dekstop) {
  .footer-menu {
    padding: 62px 0;
  }
}
