.form {
  padding-top: 28px;
  margin-bottom: 32px;
}

.form__title {
  color: $text-color-additional;
  margin-bottom: 37px;
}

.form__text {
  text-transform: uppercase;
  font-family: $font-main;
  margin-bottom: 39px;
}
