.form {
  padding-top: 28px;
}

.form__title {
  color: $text-color-additional;
  margin-bottom: 37px;
}

.form__text {
  text-transform: uppercase;
  font-family: $font-main;
  margin-bottom: 39px;
  color: $text-color-additional;
}

.form__filter {
  margin-bottom: 23px;
}

@media (min-width: $tablet) {
  .form__container {
    padding-left: 69px;
    padding-right: 69px;
  }

  .form__title {
    margin-bottom: 55px;
  }

  .form__text {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 65px;
  }

  .form__filter {
    margin-right: auto;
    margin-left: auto;
    min-width: 280px;
    width: 100%;
  }
}

@media (min-width: $dekstop) {
  .form {
    padding-top: 21px;
  }

  .form__container {
    padding-left: 0;
    padding-right: 0;
  }

  .form__filter {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 83px;
  }
}
