@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/oswald/oswaldmedium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2");
  font-display: swap;
}

* {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page__body {
  margin: 0;
  padding: 0;
}

.title {
  display: block;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: $font-main;
}

.title--h1 {
  font-size: 36px;
  line-height: 1;
  color: $text-color-accent;
}

.title--h2 {
  font-size: 36px;
  line-height: 1.1;
  color: $text-color-additional;
}

.title--h3 {
  font-size: 24px;
  line-height: 1.5;
  color: $text-color-additional;
}

.text {
  font-size: 14px;
  line-height: 1.28;
  color: $text-color;
  margin: 0;
  padding: 0;
  display: block;
  font-family: $font-secondary;
}

.text--big {
  font-size: 16px;
  line-height: 1;
  color: $text-color-additional;
  font-family: $font-main;
}

.text--small {
  font-size: 12px;
  line-height: 1;
}

.button {
  display: inline-block;
  background-color: $background-color-accent;
  color: $text-color-accent;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 44px;
  text-decoration: none;
  font-family: $font-main;
  width: 100%;
  border: none;
}

.additionally-wrapper {
  margin-bottom: 35px;
}

.gift-wrapper {
  margin-bottom: 39px;
}
