.gift {
  padding-top: 59px;
  padding-bottom: 43px;
  background-color: rgba(104, 183, 56, 0.85);
  background-image: url("../img/gift-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-color: rgba(104, 183, 56, 0.85);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}

.gift__title {
  color: $text-color-accent;
  line-height: 1.25;
  font-family: $font-secondary;
  font-weight: 400;
  text-align: center;
  max-width: 161px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &::before {
    content: "";
    position: relative;
    background-image: url("../img/icons/icon-gift.svg");
    width: 78px;
    height: 80px;
    display: block;
    margin-bottom: 48px;
  }
}

@media (min-resolution: 2dppx) {
  .gift {
    background-image: url("../img/gift-mobile-2x.jpg");
  }
}

@media (min-width: $tablet) {
  .gift {
    padding: 60px 124px 60px 77px;
    background-image: url("../img/gift-tablet.jpg");
  }

  .gift__title {
    flex-direction: row;
    justify-content: space-between;
    max-width: none;
    font-size: 16px;
    line-height: 1.25;
    align-items: center;

    &::before {
      margin-bottom: 0;
    }
  }

  .gift__text {
    max-width: 161px;
    text-align: left;
  }

  @media (min-resolution: 2dppx) {
    .gift {
      background-image: url("../img/gift-tablet-2x.jpg");
    }
  }
}

@media (min-width: $desktop) {
  .gift {
    width: 245px;
    padding: 55px 40px 42px;
    background-image: url("../img/gift-dekstop.jpg");
  }

  .gift__title {
    flex-direction: column;

    &::before {
      margin-bottom: 50px;
    }
  }

  .gift__text {
    text-align: center;
  }

  @media (min-resolution: 2dppx) {
    .gift {
      background-image: url("../img/gift-dekstop-2x.jpg");
    }
  }
}
