.live-example {
  background-color: $background-color-additional;
  padding-top: 25px;
  padding-bottom: 41px;
}

.live-example__title {
  margin-bottom: 41px;
}

.live-example__text {
  margin-bottom: 20px;
}

.live-example__blocks {
  display: flex;
  gap: 0 32px;
  margin-bottom: 34px;
}

.live-example__block {
  width: 50%;
  max-width: 124px;
  border: 1px solid $border-color;
  border-radius: 3px;
  padding: 6px 6px 12px;
  position: relative;
  text-align: center;
}

.live-example__description {
  position: absolute;
  left: 24px;
  padding: 0;
  font-size: 12px;
  color: $text-color;
  font-family: $font-secondary;
  text-align: center;
  background-color: $background-color-additional;
  display: block;
  width: 60%;
  line-height: 1;
  top: 45px;
}

.live-example__result {
  font-family: $font-main;
  text-align: center;
  text-transform: uppercase;
  color: $text-color-additional;
  display: block;
  margin-bottom: 20px;
}

.live-example__slider {
  overflow: hidden;
  position: relative;
  width: 100vw;
}

@media (min-width: $tablet) {
  .live-example {
    padding-top: 43px;
    padding-bottom: 100px;
    position: relative;
    background: linear-gradient($background-color-main 620px, $background-color-additional 620px, $background-color-additional 90%);
    border-top: 1px solid $background-color-additional;
  }

  .live-example__container {
    display: grid;
    grid-template-columns: 75% 25%;
    position: relative;
  }

  .live-example__title-wrapper {
    position: relative;
  }

  .live-example__title {
    margin-bottom: 64px;
    grid-row: 1;
    grid-column: 1/3;
  }

  .live-example__text {
    margin-bottom: 54px;
    grid-row: 2;
    grid-column: 1/3;
  }

  .live-example__blocks {
    gap: 0 42px;
    grid-row: 3;
    grid-column: 1;
    margin-bottom: 0;
  }

  .live-example__block {
    max-width: 164px;
    padding: 16px;
  }

  .live-example__description {
    font-size: 14px;
    top: 62px;
    white-space: nowrap;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
    background-color: $background-color-main;
    box-shadow: -9px 0 0 $background-color-main, 9px 0 0 $background-color-main;
  }

  .live-example__subtitle {
    font-size: 30px;
    line-height: 1.23;
  }

  .live-example__result {
    grid-row: 3;
    grid-column: 2;
    text-align: right;
    font-size: 20px;
    line-height: 1.4;
    width: 174px;
    margin-top: 8px;
    margin-left: auto;
    margin-bottom: 0;
  }

  .live-example__slider {
    margin-top: 103px;
  }
}

@media (min-width: $dekstop) {
  .live-example {
    padding-top: 0;
    padding-bottom: 68px;
    display: flex;
    flex-direction: column;
    position: relative;
    background: linear-gradient($background-color-main 177px, $background-color-special 177px, $background-color-special 90%);
    border-top: none;
  }

  .live-example__container {
    display: flex;
    flex-direction: column;
  }

  .live-example__title-wrapper {
    padding-top: 43px;
    background-color: $background-color-main;
    padding-bottom: 77px;
  }

  .live-example__title {
    margin: 0;
  }

  .live-example__text {
    margin: 70px 0;
    max-width: 433px;
  }

  .live-example__slider {
    position: absolute;
    width: 560px;
    left: 52%;
    top: 7%;
    margin: 0;
  }

  .live-example__result {
    margin: 0;
    text-align: left;
    display: flex;
    justify-content: space-between;
    width: 326px;
  }

  .live-example__blocks {
    margin-bottom: 5px;
  }

  .live-example__block {
    width: 162px;
    margin-bottom: 52px;
  }

  .live-example__description {
    top: 62px;
    background-color: $background-color-special;
    box-shadow: -9px 0 0 $background-color-special, 9px 0 0 $background-color-special;
  }
}
