.main-header {
  padding-top: 12px;
  padding-bottom: 15px;
  border-bottom: 1px solid $border-color-additional;
}

.main-header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-header__picture {
  display: block;
  width: 191px;
  height: 38px;
  padding: 0;
  margin: 0;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-header--no-js { //модификатор для меню без js
  .main-header__container {
    flex-direction: column;
  }

  .main-nav__toggle {
    display: none;
  }

  .menu {
    display: block;
    position: relative;
    top: 0;
  }
}

@media (min-width: $tablet) {
  .main-header {
    border-bottom: none;
    padding-top: 0;
    padding-bottom: 0;
  }

  .main-header__container {
    align-items: end;
  }

  .main-header__picture {
    width: 174px;
    height: 52px;
  }

  .main-header--no-js {
    .main-header__container {
      flex-direction: row;
    }

    .menu {
      display: flex;
    }
  }
}

@media (min-width: $desktop) {
  .main-header__picture {
    width: 202px;
    height: 59px;
  }

  .main-header__container {
    align-items: unset;
  }
}
