
.main-nav__line {
  display: block;
  height: 2px;
  width: 24px;
  background-color: $background-color-main;
  margin-bottom: 6px;
  transition: 0.5s all;
  border: 1.5px solid $border-color-accent;
}

.main-nav__toggle {
  display: block;
  position: absolute;
  transform: translateY(-50%);
  width: 24px;
  height: 16px;
  border: none;
  background-color: unset;
  padding: 0;
  top: 30px;
  right: 19px;

  &.show {
    .main-nav__line:nth-last-of-type(1) {
      transform: translateY(1px) rotate(-45deg);
    }

    .main-nav__line:nth-last-of-type(2) {
      display: none;
    }

    .main-nav__line:nth-last-of-type(3) {
      transform: translateY(9px) rotate(45deg);
    }
  }

  .main-header--no-js & {
    display: none;
  }
}

@media (min-width: $tablet) {
  .main-nav__toggle {
    display: none;
  }
}
