.map {
  width: 100%;
  position: relative;
  background-image: url("../img/location-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  height: 367px;
}

.map__iframe {
  width: 100%;
  height: 362px;
  border: none;
}

@media (min-resolution: 2dppx) {
  .map {
    background-image: url("../img/location-mobile-2x.jpg");
  }
}

@media (min-width: $tablet) {
  .map__iframe {
    height: 400px;
  }

  .map {
    background-image: url("../img/location-tablet.jpg");
    height: 400px;
  }

  @media (min-resolution: 2dppx) {
    .map {
      background-image: url("../img/location-tablet-2x.jpg");
    }
  }
}

@media (min-width: $desktop) {
  .map {
    background-image: url("../img/location.jpg");
  }

  @media (min-resolution: 2dppx) {
    .map {
      background-image: url("../img/location-2x.jpg");
    }
  }
}
