.menu {
  display: none;
  flex-direction: column;
  list-style: none;
  width: 100%;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 66px;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: $background-color-main;

  &.show {
    display: flex;
    z-index: 2;
  }
}

.menu__link {
  display: block;
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: $text-color-additional;
  text-decoration: none;
  text-transform: uppercase;
  font-family: $font-main;
  padding: 22px 22px 24px 22px;
  border-bottom: 1px solid $border-color-add;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: $tablet) {
  .menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    top: 0;
    right: 0;
    left: auto;
    gap: 38px;
    background-color: transparent;
  }

  .menu__item--active {
    border-bottom: 2px solid $background-color-accent;
  }

  .menu__link {
    font-size: 18px;
    line-height: 1.33;
    padding: 9px 0 6px;
    text-align: right;
    letter-spacing: -0.6px;
    border: none;
  }
}

@media (min-width: $dekstop) {
  .menu__link {
    font-size: 20px;
    line-height: 1.45;
    padding: 13px 0 8px;
  }

  .menu {
    gap: 35px;

    &--light {
      color: $text-color-accent;

      .menu__link {
        color: $text-color-accent;
      }

      .menu__item--active {
        border-color: $text-color-accent;
      }
    }
  }
}
