.menu { //что бы увидеть меню в разметку надо добавить класс show
  display: none;
  flex-direction: column;
  list-style: none;
  width: 100%;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 66px;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: $background-color-main;

  &.show {
    display: flex;
  }
}

.menu__link {
  display: block;
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: $text-color-additional;
  text-decoration: none;
  text-transform: uppercase;
  font-family: $font-main;
  padding: 22px 22px 24px 22px;
  border-bottom: 1px solid $border-color-add;
}
