.partnership {
  padding-top: 27px;
  padding-bottom: 26px;
}

.partnership__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.partnership__title {
  text-transform: uppercase;
  line-height: 1.25;
  color: $text-color-secondary;
  display: block;
  margin-right: 18px;
  width: 44%;
}

.partnership__text {
  line-height: 1.37;
}

@media (min-width: $tablet) {
  .partnership {
    padding-top: 57px;
    padding-bottom: 63px;
  }

  .partnership__container {
    padding-left: 41px;
    padding-right: 39px;
  }

  .partnership__title {
    max-width: 172px;
    margin-top: 6px;
  }

  .partnership__text {
    max-width: 160px;
    text-align: right;
    line-height: 1.25;

    &--custom {
      margin-top: 20px;
      display: block;
    }
  }
}


@media (min-width: $dekstop) {
  .partnership {
    width: 565px;
    margin-left: 0;
    margin-top: 95px;
  }

  .partnership__container {
    padding-left: 79px;
    padding-right: 76px;
  }

  .partnership__text {
    text-align: left;
  }
}
