.product {
  border-top: 1px solid $border-color-secondary;
  padding-top: 19px;
  padding-bottom: 25px;
  display: grid;

  &--more {
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    border-bottom: 1px solid $border-color-secondary;
  }
}

.product__image {
  grid-row: 1;
  grid-column: 1;
}

.product__about {
  grid-row: 1;
  grid-column: 2;
  margin-bottom: 22px;
}

.product__button {
  grid-row: 3;
  grid-column: 1/3;
  font-size: 16px;
  line-height: 1.25;

  &--more {
    background-color: $background-color-special;
    color: $text-color;
  }
}

.product__name {
  line-height: 1.25;
  color: $text-color-custom;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 14px;
  max-width: 60%;

  &--more {
    text-align: center;
    position: relative;
    margin-bottom: 10px;
    max-width: unset;
    color: $text-color-secondary;

    &::before {
      content: "";
      position: relative;
      background-image: url("../img/icons/plus.svg");
      width: 30px;
      height: 30px;
      display: block;
      margin: 0 auto 24px;
    }
  }
}

.product__text {
  &--more {
    text-align: center;
  }
}

.product__link {
  text-decoration: none;
}

.product__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.product__item {
  display: flex;
  justify-content: space-between;
  line-height: 1.33;
}

@media (min-width: 768px) {
  .product {
    width: 324px;
    display: flex;
    flex-direction: column;
    background-color: $background-color-special;
    padding: 0 39px 39px;
    align-items: center;
    border: none;

    &--more {
      background-color: $background-color-main;
      border: 1px solid $border-color-more;
      padding-top: 52px;
    }
  }

  .product__name {
    max-width: 160px;
    text-align: center;

    &--more::before {
      width: 60px;
      height: 60px;
      background-size: contain;
    }
  }

  .product__image {
    width: 168px;
    height: 206px;
    margin-bottom: 24px;
  }

  .product__button {
    width: 100%;
    padding: 10px;
  }

  .product__about {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .product__item {
    padding-bottom: 7px;
    border-bottom: 1px solid $border-color;
    margin-bottom: 3px;
  }

  .product__list {
    width: 100%;
    margin-bottom: 7px;
  }
}

@media (min-width: $dekstop) {
  .product {
    width: 245px;
  }
}
