.social {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 100%;
  justify-content: center;
  border-top: 1px solid $border-color-additional;
  border-bottom: 1px solid $border-color-additional;
  padding-top: 20px;
  padding-bottom: 14px;
}

.social__item {
  margin-right: 23px;

  &:last-of-type {
    margin-right: 0;
  }
}

.social__link {
  text-decoration: none;

  &:hover,
  &:focus {
    .social__icon {
      fill: $background-color-accent;
    }
  }

  &:active {
    .social__icon {
      opacity: 0.3;
    }

    .social__icon path {
      fill: $background-color-accent;
    }
  }
}

@media (min-width: $tablet) {
  .social {
    padding: 0;
    border: none;
  }
}
