.social {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
  border-top: 1px solid $border-color-additional;
  border-bottom: 1px solid $border-color-additional;
  padding-top: 20px;
  padding-bottom: 14px;
}

.social__item {
  margin-right: 23px;

  &:last-of-type {
    margin-right: 0;
  }
}

.social__link {
  text-decoration: none;
}

@media (min-width: $tablet) {
  .social {
    padding: 0;
    border: none;
  }
}
