@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/oswald/oswaldmedium.woff2") format("woff2"), url("../fonts/oswald/oswaldmedium.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2"), url("../fonts/oswald/oswaldregular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2"), url("../fonts/lato/Lato-Regular.woff") format("woff");
  font-display: swap;
}
.container {
  display: block;
  min-width: 280px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 708px;
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 1219px;
    padding: 0;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  font-weight: 400;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page__body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
}

.page__top-block {
  margin-bottom: 20px;
}

.page__catalogs-list {
  margin-bottom: 20px;
}

.page__how-work {
  margin-bottom: 49px;
}

.page__additionally {
  margin-bottom: 36px;
}

.page__gift {
  margin-bottom: 39px;
}

.page__form {
  margin-bottom: 32px;
}

@media (min-width: 768px) {
  .page__main {
    padding-top: 35px;
  }

  .page__top-block {
    margin-bottom: 0;
  }

  .page__catalogs-list {
    margin-bottom: 47px;
  }

  .page__how-work {
    margin-bottom: 83px;
  }

  .page__catalog {
    margin-bottom: 68px;
  }

  .page__additionally {
    margin-bottom: 68px;
  }

  .page__gift {
    margin-bottom: 76px;
  }
}
@media (min-width: 1440px) {
  .page__main {
    padding-top: 52px;
  }
  .page__main--catalog {
    display: grid;
    grid-template-columns: 895px auto;
    margin-bottom: 86px;
  }

  .page__body {
    padding-top: 55px;
  }

  .page__top-block {
    margin-bottom: 82px;
  }

  .page__catalogs-list {
    margin-bottom: 72px;
  }

  .page__how-work {
    margin-bottom: 59px;
  }

  .page__catalog {
    margin-bottom: 76px;
    grid-row: 1;
    grid-column: 1/3;
  }

  .page__additionally {
    grid-row: 2;
    grid-column: 1;
    margin-bottom: 0;
    margin-right: 80px;
  }

  .page__gift {
    grid-row: 2;
    grid-column: 2;
    margin-bottom: 0;
    margin-left: auto;
    margin-top: auto;
  }
}
.text {
  font-size: 14px;
  line-height: 1.28;
  color: #444444;
  margin: 0;
  padding: 0;
  display: block;
  font-family: "Lato", sans-serif;
}

.text--big {
  font-size: 16px;
  line-height: 1;
  color: #000000;
  font-family: "Oswald", sans-serif;
}

.text--small {
  font-size: 12px;
  line-height: 1;
}

@media (min-width: 768px) {
  .text {
    font-size: 16px;
    line-height: 1.5;
  }

  .text--big {
    font-size: 20px;
    line-height: 1.3;
  }

  .text--small {
    font-size: 16px;
  }
}
.button {
  display: inline-block;
  background-color: #68b738;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 44px;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  width: 100%;
  border: none;
}

@media (min-width: 768px) {
  .button {
    font-size: 20px;
    line-height: 1;
    padding: 17px 28px;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.title {
  display: block;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
}

.title--h1 {
  font-size: 36px;
  line-height: 1;
  color: #ffffff;
}

.title--h2 {
  font-size: 36px;
  line-height: 1.1;
  color: #000000;
}

.title--h3 {
  font-size: 24px;
  line-height: 1.5;
  color: #000000;
}

@media (min-width: 768px) {
  .title--h1 {
    font-size: 60px;
  }

  .title--h2 {
    font-size: 60px;
    line-height: 1;
  }

  .title--h3 {
    font-size: 36px;
    line-height: 1;
  }
}
.main-header {
  background-color: #ffffff;
  padding-top: 10px;
  padding-bottom: 17px;
  border-bottom: 1px solid #d9d9d9;
}

.main-header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-header__logo {
  display: block;
  width: 191px;
  height: 38px;
}
.main-header__logo:hover {
  opacity: 0.8;
}
.main-header__logo:active {
  opacity: 0.6;
}

@media (min-width: 768px) {
  .main-header {
    border-bottom: none;
    padding-top: 0;
    padding-bottom: 0;
  }

  .main-header__container {
    align-items: end;
  }

  .main-header__logo {
    width: 174px;
    height: 52px;
  }
}
.menu {
  display: none;
  flex-direction: column;
  list-style: none;
  width: 100%;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 66px;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #ffffff;
}
.menu.show {
  display: flex;
}

.menu__link {
  display: block;
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  padding: 22px 22px 24px 22px;
  border-bottom: 1px solid #e6e6e6;
}

@media (min-width: 768px) {
  .menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    top: 0;
    right: 0;
    left: auto;
    gap: 38px;
  }

  .menu__item--active {
    border-bottom: 1px solid #68b738;
  }

  .menu__link {
    font-size: 18px;
    line-height: 1.33;
    padding: 7px 0;
    text-align: right;
    letter-spacing: -0.6px;
    border: none;
  }
}
@media (min-width: 1440px) {
  .menu__link {
    font-size: 20px;
    line-height: 1.45;
  }
}
.main-nav__toggle {
  display: block;
  position: absolute;
  transform: translateY(-50%);
  width: 24px;
  height: 16px;
  border: none;
  background-color: unset;
  padding: 0;
  top: 30px;
  right: 19px;
}
.main-nav__toggle.show:nth-child(1) {
  transform: translateY(3px) rotate(-45deg);
}
.main-nav__toggle.show:nth-child(2) {
  display: none;
}
.main-nav__toggle.show:nth-child(3) {
  transform: translateY(3px) rotate(45deg);
}

.main-nav__line {
  display: block;
  height: 2px;
  width: 100%;
  background-color: #ffffff;
  margin-bottom: 6px;
  transition: 0.5s all;
  border: 1.5px solid #000000;
}

@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}
.top-block {
  padding-top: 27px;
  position: relative;
  background-color: rgba(104, 183, 56, 0.85);
  background-image: url("../img/cat-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100vw auto;
}
.top-block::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  background-color: rgba(104, 183, 56, 0.85);
}
.top-block::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 37%;
  left: 0;
  bottom: 0;
  background-color: #ffffff;
}

.top-block__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  position: relative;
}

.top-block__title {
  text-align: center;
  margin-bottom: 24px;
}

.top-block__text {
  color: #ffffff;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: "Oswald", sans-serif;
  margin-bottom: 26px;
}

@media (min-width: 768px) {
  .top-block {
    background-image: none;
    background-color: #ffffff;
  }
  .top-block::before {
    background-color: #ffffff;
  }

  .top-block__container {
    align-items: start;
    padding-left: 88px;
  }

  .top-block__title {
    text-align: left;
    margin-bottom: 42px;
    color: #000000;
    max-width: 441px;
    position: relative;
    order: 1;
  }

  .top-block__text {
    color: #000000;
    font-size: 20px;
    line-height: 1;
    text-align: left;
    position: relative;
    order: 2;
    margin-bottom: 48px;
    margin-left: 0;
  }

  .top-block__button {
    position: relative;
    order: 3;
  }

  .top-block__image-wrapper {
    position: relative;
    order: 4;
    width: 708px;
    height: 609px;
    margin-top: -80px;
  }

  .top-block__image {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 1440px) {
  .top-block {
    padding-top: 0;
    padding-bottom: 110px;
  }

  .top-block__container {
    display: grid;
    align-items: unset;
    padding-left: 80px;
  }

  .top-block__title {
    grid-row: 1;
    grid-column: 1;
    margin-top: 89px;
    margin-bottom: 40px;
  }

  .top-block__text {
    grid-row: 2;
    grid-column: 1;
    margin-bottom: 52px;
  }

  .top-block__button {
    grid-row: 3;
    grid-column: 1;
  }

  .top-block__image-wrapper {
    grid-row: 1/5;
    grid-column: 2;
    width: 552px;
    height: 449px;
    margin-top: 0;
  }
}
.catalogs-list {
  display: flex;
  flex-direction: column;
}

.catalogs-list__item {
  margin-bottom: 20px;
}
.catalogs-list__item:last-of-type {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .catalogs-list__item {
    margin-bottom: 33px;
  }
  .catalogs-list__item:last-of-type {
    margin-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .catalogs-list {
    flex-direction: row;
    gap: 0 80px;
  }

  .catalogs-list__item {
    margin-bottom: 0;
  }
}
.catalog-list {
  display: grid;
  background-color: #eaeaea;
  padding: 21px 22px;
  align-items: start;
  grid-template-columns: 70px auto;
}

.catalog-list__title {
  position: relative;
  text-transform: uppercase;
  grid-row: 1;
  grid-column: 2;
  margin-top: 9px;
}

.catalog-list__icon-wrapper {
  grid-row: 1;
  grid-column: 1;
  margin-bottom: 26px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
}
.catalog-list__icon-wrapper::before {
  content: "";
  position: relative;
  width: 50px;
  height: 50px;
  left: 1px;
  top: 4px;
  border-radius: 50%;
  background-color: #68b738;
  z-index: 0;
}

.catalog-list__icon {
  position: absolute;
  z-index: 1;
  left: 7px;
}
.catalog-list__icon--pro {
  left: -8px;
  top: 15px;
}

.catalog-list__text {
  grid-row: 2;
  grid-column: 1/3;
  margin-bottom: 23px;
}

.catalog-list__link {
  grid-row: 3;
  grid-column: 1/3;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 19px;
  border-top: 1px solid #d9d9d9;
  position: relative;
  display: flex;
  align-items: center;
}
.catalog-list__link::after {
  content: "";
  position: relative;
  background-image: url("../img/icons/icon-arrow.svg");
  width: 24px;
  height: 12px;
  display: block;
  margin-left: 15px;
}

@media (min-width: 768px) {
  .catalog-list {
    padding: 74px 62px 57px 53px;
    grid-template-columns: 340px auto;
    justify-content: space-between;
  }

  .catalog-list__title {
    grid-column: 1;
    margin-top: 0;
    margin-bottom: 24px;
  }

  .catalog-list__text {
    grid-column: 1;
    margin-bottom: 36px;
  }

  .catalog-list__link {
    grid-column: 1;
    border-top: none;
  }
  .catalog-list__link::after {
    margin-left: 25px;
  }

  .catalog-list__icon-wrapper {
    grid-row: 1/4;
    grid-column: 2;
    margin-bottom: 0;
  }
  .catalog-list__icon-wrapper::before {
    width: 200px;
    height: 200px;
    top: 15px;
  }

  .catalog-list__icon {
    width: 140px;
    height: 194px;
    left: 31px;
  }
  .catalog-list__icon--pro {
    width: 268px;
    height: 112px;
    left: -32px;
    top: 59px;
  }
}
@media (min-width: 1440px) {
  .catalog-list {
    padding: 47px 61px 59px 52px;
    max-width: 570px;
    grid-template-columns: 162px auto;
    align-items: center;
  }

  .catalog-list__icon-wrapper {
    grid-row: 1;
    grid-column: 1;
    display: flex;
  }
  .catalog-list__icon-wrapper::before {
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
  }

  .catalog-list__icon {
    width: 70px;
    height: 97px;
    left: 14px;
    top: -5px;
  }
  .catalog-list__icon--pro {
    width: 134px;
    height: 56px;
    left: -20px;
    top: 20px;
  }

  .catalog-list__title {
    grid-row: 1;
    grid-column: 2;
    margin: 0;
    align-self: center;
  }

  .catalog-list__text {
    grid-row: 2;
    grid-column: 1/3;
    margin-top: 40px;
    margin-bottom: 10px;
  }

  .catalog-list__link {
    grid-row: 3;
    grid-column: 1/3;
  }
}
.how-work__title {
  margin-bottom: 40px;
}

.how-work__items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.how-work__item {
  display: flex;
  position: relative;
  margin-bottom: 20px;
  align-items: center;
}
.how-work__item::before {
  content: "";
  position: relative;
  min-width: 60px;
  width: 60px;
  height: 60px;
  background-color: #68b738;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-position: center;
}
.how-work__item:nth-of-type(1)::before {
  background-image: url("../img/icons/icon-leaf.svg");
}
.how-work__item:nth-of-type(2)::before {
  background-image: url("../img/icons/icon-powder.svg");
}
.how-work__item:nth-of-type(3)::before {
  background-image: url("../img/icons/icon-eat.svg");
}
.how-work__item:nth-of-type(4)::before {
  background-image: url("../img/icons/icon-scales.svg");
}
.how-work__item:last-of-type {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .how-work__title {
    margin-bottom: 72px;
  }

  .how-work__items {
    display: grid;
    grid-template-columns: 245px 245px;
    gap: 114px 139px;
  }

  .how-work__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .how-work__item::before {
    width: 80px;
    height: 80px;
    margin-bottom: 31px;
  }
}
@media (min-width: 1440px) {
  .how-work__items {
    display: flex;
    flex-direction: row;
  }

  .how-work__item {
    margin-bottom: 0;
    width: 230px;
  }
}
.live-example {
  background-color: #eaeaea;
  padding-top: 25px;
  padding-bottom: 25px;
}

.live-example__title {
  margin-bottom: 41px;
}

.live-example__text {
  margin-bottom: 20px;
}

.live-example__blocks {
  display: flex;
  gap: 0 32px;
  margin-bottom: 34px;
}

.live-example__block {
  width: 50%;
  max-width: 124px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  padding: 6px 20px 12px;
  position: relative;
  text-align: center;
}

.live-example__description {
  position: absolute;
  left: 24px;
  padding: 0;
  font-size: 12px;
  color: #444444;
  font-family: "Lato", sans-serif;
  text-align: center;
  background-color: #eaeaea;
  display: block;
  width: 60%;
  line-height: 1;
  top: 45px;
  white-space: nowrap;
}

.live-example__result {
  font-family: "Oswald", sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  display: block;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .live-example {
    padding-top: 43px;
    padding-bottom: 82px;
  }

  .live-example__container {
    display: grid;
    grid-template-columns: 75% 25%;
  }

  .live-example__title {
    margin-bottom: 64px;
    grid-row: 1;
    grid-column: 1/3;
  }

  .live-example__text {
    margin-bottom: 54px;
    grid-row: 2;
    grid-column: 1/3;
  }

  .live-example__blocks {
    gap: 0 42px;
    grid-row: 3;
    grid-column: 1;
    margin-bottom: 0;
  }

  .live-example__block {
    max-width: 164px;
    padding: 16px 16px 20px;
  }

  .live-example__description {
    font-size: 14px;
    top: 62px;
  }

  .live-example__subtitle {
    font-size: 30px;
    line-height: 1.23;
  }

  .live-example__result {
    grid-row: 3;
    grid-column: 2;
    text-align: right;
    font-size: 20px;
    line-height: 1.4;
    width: 174px;
    margin-top: 8px;
    margin-left: auto;
    margin-bottom: 0;
  }

  .live-example__slider {
    margin-top: 103px;
  }
}
@media (min-width: 1440px) {
  .live-example__container {
    grid-template-rows: 136px auto 72px auto;
    grid-template-columns: 35.5% 64.5%;
    align-items: unset;
  }

  .live-example__title {
    margin: 0;
    grid-column: 1;
    grid-row: 1;
  }

  .live-example__text {
    margin: 0;
    grid-column: 1;
    grid-row: 2;
    padding-top: 70px;
    padding-bottom: 30px;
  }

  .live-example__slider {
    grid-row: 1/5;
    grid-column: 2;
    width: 560px;
    height: 512px;
    margin: 0;
  }

  .live-example__result {
    grid-row: 4;
    grid-column: 1;
    margin: 0;
    text-align: left;
    width: unset;
  }

  .live-example__block {
    width: 160px;
  }
}
.slider__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .slider__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .slider__item {
    width: 560px;
    height: 512px;
  }
}
.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.footer__logo {
  padding-top: 36px;
  padding-bottom: 15px;
}

@media (min-width: 768px) {
  .footer__container {
    display: grid;
  }

  .footer__parthership {
    grid-row: 1;
    grid-column: 1/4;
  }

  .footer__map {
    grid-row: 2;
    grid-column: 1/4;
  }

  .footer__logo {
    grid-row: 3;
    grid-column: 1;
  }

  .footer__social {
    grid-row: 3;
    grid-column: 2;
  }

  .footer__academy {
    grid-row: 3;
    grid-column: 3;
  }
}
@media (min-width: 1440px) {
  .footer__parthership {
    grid-row: 1;
    grid-column: 1;
    position: relative;
    z-index: 1;
    background-color: #ffffff;
  }

  .footer__map {
    grid-row: 1/3;
    grid-column: 1/3;
    margin-bottom: 28px;
  }

  .footer__menu {
    grid-row: 3;
    grid-column: 1/3;
  }

  .footer__container {
    align-items: unset;
  }
}
.partnership {
  padding-top: 22px;
  padding-bottom: 26px;
}

.partnership__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.partnership__title {
  text-transform: uppercase;
  line-height: 1.25;
  color: #111111;
  display: block;
  margin-right: 18px;
}

.partnership__text {
  line-height: 1.37;
}

@media (min-width: 768px) {
  .partnership {
    padding-top: 61px;
    padding-bottom: 63px;
  }

  .partnership__container {
    padding-left: 56px;
    padding-right: 23px;
  }

  .partnership__title {
    max-width: 172px;
  }

  .partnership__text {
    max-width: 160px;
    text-align: right;
    line-height: 1.25;
  }
}
@media (min-width: 1440px) {
  .partnership {
    width: 565px;
    margin-left: 110px;
    margin-top: 95px;
  }

  .partnership__container {
    padding-left: 79px;
    padding-right: 76px;
  }

  .partnership__text {
    text-align: left;
  }
}
.map {
  width: 100%;
}

.map__image {
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .map__wrapper {
    width: 100%;
    height: 400px;
    position: relative;
  }

  .map__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.footer-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .footer-menu {
    flex-direction: row;
    width: 708px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1440px) {
  .footer-menu {
    width: 1219px;
  }
}
.social {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding-top: 20px;
  padding-bottom: 15px;
}

.social__item {
  margin-right: 26px;
}
.social__item:last-of-type {
  margin-right: 0;
}

.social__link {
  text-decoration: none;
}

.academy {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 47px;
  align-items: center;
}

.academy__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #444444;
  font-family: "Lato", sans-serif;
  text-decoration: none;
}

.catalog__title {
  color: #000000;
  padding-top: 27px;
  margin-bottom: 41px;
}

.catalog__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: 768px) {
  .catalog__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 66px 60px;
  }

  .catalog__title {
    margin-bottom: 90px;
  }
}
@media (min-width: 1440px) {
  .catalog__items {
    gap: 73px 79px;
  }
}
.product {
  border-top: 1px solid #ebebeb;
  padding-top: 19px;
  padding-bottom: 25px;
  display: grid;
}
.product--more {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  border-bottom: 1px solid #ebebeb;
}

.product__image {
  grid-row: 1;
  grid-column: 1;
}

.product__about {
  grid-row: 1;
  grid-column: 2;
  margin-bottom: 22px;
}

.product__button {
  grid-row: 3;
  grid-column: 1/3;
  font-size: 16px;
  line-height: 1.25;
}
.product__button--more {
  background-color: #f2f2f2;
  color: #444444;
}

.product__name {
  line-height: 1.25;
  color: #222222;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 14px;
  max-width: 60%;
}
.product__name--more {
  text-align: center;
  position: relative;
  margin-bottom: 10px;
  max-width: unset;
  color: #111111;
}
.product__name--more::before {
  content: "";
  position: relative;
  background-image: url("../img/icons/plus.svg");
  width: 30px;
  height: 30px;
  display: block;
  margin: 0 auto 24px;
}

.product__text--more {
  text-align: center;
}

.product__link {
  text-decoration: none;
}

.product__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.product__item {
  display: flex;
  justify-content: space-between;
  line-height: 1.33;
}

@media (min-width: 768px) {
  .product {
    width: 324px;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    padding: 0 39px 39px;
    align-items: center;
    border: none;
  }
  .product--more {
    background-color: #ffffff;
    border: 1px solid #f2f2f2;
    padding-top: 52px;
  }

  .product__name {
    max-width: 160px;
    text-align: center;
  }
  .product__name--more::before {
    width: 60px;
    height: 60px;
    background-size: contain;
  }

  .product__image {
    width: 168px;
    height: 206px;
    margin-bottom: 24px;
  }

  .product__button {
    width: 100%;
    padding: 10px;
  }

  .product__about {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .product__item {
    padding-bottom: 7px;
    border-bottom: 1px solid #cdcdcd;
    margin-bottom: 3px;
  }

  .product__list {
    width: 100%;
    margin-bottom: 7px;
  }
}
@media (min-width: 1440px) {
  .product {
    width: 245px;
  }
}
.additionally {
  padding-top: 18px;
}

.additionally__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.additionally__title {
  margin-bottom: 29px;
}

@media (min-width: 768px) {
  .additionally {
    padding-top: 0;
  }

  .additionally__title {
    margin-bottom: 80px;
  }

  .additionally__items {
    padding: 0;
  }
}
.addition {
  border-top: 1px solid #ebebeb;
  padding-top: 12px;
  padding-bottom: 18px;
  display: flex;
  flex-direction: column;
}

.addition__button {
  font-size: 16px;
  line-height: 1.25;
}

.addition__name {
  line-height: 1.25;
  color: #222222;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 9px;
}

.addition__link {
  text-decoration: none;
}

.addition__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.addition__price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

@media (min-width: 768px) {
  .addition {
    padding: 24px 38px 27px;
    display: grid;
    gap: 22px;
    border: 1px solid #cdcdcd;
    border-bottom: unset;
    margin-bottom: 0;
  }
  .addition:last-of-type {
    border-bottom: 1px solid #cdcdcd;
  }

  .addition__link {
    grid-row: 1;
    grid-column: 1;
  }

  .addition__price {
    grid-row: 1;
    grid-column: 2;
    gap: 0 49px;
    justify-content: end;
    margin-bottom: 0;
  }

  .addition__button {
    grid-row: 2;
    grid-column: 1/3;
    width: 100%;
    padding: 10px;
  }

  .addition__name {
    margin-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .addition {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-left: none;
    border-right: none;
    padding: 17px 0 14px 0;
  }

  .addition__button {
    width: 244px;
  }
}
.gift {
  padding-top: 59px;
  padding-bottom: 43px;
  background-color: rgba(104, 183, 56, 0.85);
  background-image: url("../img/gift.jpg");
  background-repeat: repeat;
  background-size: cover;
  position: relative;
}
.gift::before {
  content: "";
  position: absolute;
  background-color: rgba(104, 183, 56, 0.85);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.gift__title {
  color: #ffffff;
  line-height: 1.25;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: center;
  max-width: 161px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gift__title::before {
  content: "";
  position: relative;
  background-image: url("../img/icons/icon-gift.svg");
  width: 78px;
  height: 80px;
  display: block;
  margin-bottom: 48px;
}

@media (min-width: 768px) {
  .gift {
    padding: 60px 124px 60px 77px;
  }

  .gift__title {
    flex-direction: row;
    justify-content: space-between;
    max-width: none;
    font-size: 16px;
    line-height: 1.25;
    align-items: center;
  }
  .gift__title::before {
    margin-bottom: 0;
  }

  .gift__text {
    max-width: 161px;
    text-align: left;
  }
}
@media (min-width: 1440px) {
  .gift {
    width: 245px;
    padding: 55px 40px 42px;
  }

  .gift__title {
    flex-direction: column;
  }
  .gift__title::before {
    margin-bottom: 50px;
  }

  .gift__text {
    text-align: center;
  }
}
.form {
  padding-top: 28px;
}

.form__title {
  color: #000000;
  margin-bottom: 37px;
}

.form__text {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  margin-bottom: 39px;
  color: #000000;
}

.form__filter {
  margin-bottom: 23px;
}

@media (min-width: 768px) {
  .form__container {
    padding-left: 39px;
  }

  .form__title {
    margin-bottom: 55px;
  }

  .form__text {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 65px;
  }

  .form__filter {
    padding-left: 69px;
    padding-right: 69px;
  }
}
@media (min-width: 1440px) {
  .form__container {
    padding-left: 0;
  }

  .form__filter {
    padding-left: 111px;
    padding-right: 111px;
    margin-bottom: 83px;
  }
}
.filter__block {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 21px;
  padding-bottom: 22px;
}
.filter__block--custom {
  padding-bottom: 0;
}
.filter__block--custom:last-of-type {
  margin-bottom: 19px;
}

.filter__group {
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 26px;
  padding-top: 22px;
  padding-bottom: 18px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
.filter__group--custom {
  border: none;
  padding: 0;
}
.filter__group--add {
  border: none;
  padding: 0;
}

.filter__item {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 13px;
}
.filter__item:last-of-type {
  margin-bottom: 0;
}

.filter__items {
  padding: 0;
  margin: 0;
  list-style: none;
}
.filter__items--add {
  border: none;
  padding: 0;
  margin-bottom: 7px;
}

.filter__inputs {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter__textarea {
  border: 1px solid #e7e7e7;
  padding: 9px 12px 9px 15px;
  color: #444444;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  height: 150px;
  width: 100%;
}

.filter__title {
  line-height: 1.1;
  margin-bottom: 35px;
}
.filter__title--custom {
  margin-bottom: 38px;
}

.filter__button {
  font-size: 16px;
  line-height: 1.25;
  margin-bottom: 21px;
}

.filter__text {
  text-align: center;
  color: #000000;
}

.filter__input-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14px;
}
.filter__input-wrapper--last {
  margin-bottom: 0;
}

.filter__label {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  margin-right: 13px;
}
.filter__label--custom {
  margin-right: 7px;
}

.filter__input {
  border: 1px solid #e7e7e7;
  padding: 14px 20px 11px;
  color: #444444;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  flex-grow: 1;
  min-width: 173px;
}

@media (min-width: 768px) {
  .filter__label {
    font-size: 20px;
    line-height: 1.45;
  }

  .filter__input-wrapper {
    margin-bottom: 19px;
  }
  .filter__input-wrapper--last {
    margin-bottom: 0;
  }

  .filter__input {
    font-size: 20px;
    line-height: 1.45;
    padding-top: 11px;
  }

  .filter__container {
    width: 100%;
  }

  .filter__group {
    border: 1px solid #d9d9d9;
    padding: 25px 27px;
    margin-bottom: 71px;
  }
  .filter__group--add {
    border: none;
    padding: 0;
    margin-bottom: 46px;
  }

  .filter__block {
    margin-bottom: 50px;
  }
  .filter__block--custom {
    margin-bottom: 61px;
  }

  .filter__title {
    margin-bottom: 74px;
  }
  .filter__title--custom {
    margin-bottom: 75px;
  }
  .filter__title--add {
    margin-bottom: 53px;
  }

  .filter__textarea {
    font-size: 20px;
    line-height: 1.5;
    padding-left: 19px;
    height: 174px;
  }

  .filter__items--add {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px 121px;
  }

  .filter__item--add {
    margin-bottom: 0;
    min-width: 222px;
  }

  .filter__button {
    font-size: 20px;
    padding: 13px 66px;
    margin-bottom: 0;
    margin-right: 61px;
  }

  .filter__button-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
@media (min-width: 1440px) {
  .filter {
    display: grid;
    grid-template-columns: 570px 570px;
    gap: 69px 80px;
  }

  .filter__container {
    grid-row: 1;
    grid-column: 1;
  }
  .filter__container:last-of-type {
    grid-row: 2;
    grid-column: 1/3;
  }

  .filter__group {
    display: flex;
    grid-row: 1;
    grid-column: 2;
    margin-bottom: 0;
  }
  .filter__group--add {
    margin-top: 60px;
    margin-bottom: 54px;
  }

  .filter__block {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .filter__block--custom {
    margin-bottom: 43px;
  }

  .filter__inputs--users {
    display: flex;
    flex-direction: row;
    gap: 0 78px;
  }
  .filter__inputs--users .filter__input-wrapper {
    width: 50%;
  }

  .filter__title--add {
    margin-bottom: 55px;
  }

  .filter__items--add {
    gap: 32px 102px;
  }

  .filter__button {
    width: 568px;
    margin-right: 80px;
  }
}
.control {
  display: flex;
  align-items: center;
}

.control__label {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
  font-family: "Oswald", sans-serif;
}
.control__label--custom {
  color: #000000;
}

.control__mark-radio {
  border: 1px solid #cdcdcd;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: block;
  margin-right: 15px;
}

.control__mark {
  border: 1px solid #cdcdcd;
  width: 30px;
  height: 30px;
  display: block;
  margin-right: 15px;
}

@media (min-width: 768px) {
  .control__label {
    font-size: 20px;
    line-height: 1.45;
  }

  .control__mark-radio {
    width: 40px;
    height: 40px;
    margin-right: 22px;
  }

  .control__mark {
    width: 40px;
    height: 40px;
    margin-right: 22px;
  }
}
/*# sourceMappingURL=style.css.map */