.button {
  display: inline-block;
  background-color: $background-color-accent;
  color: $text-color-accent;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 44px;
  text-decoration: none;
  font-family: $font-main;
  width: 100%;
  border: none;
}
