.page__body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: $font-main;
}

.page__top-block {
  margin-bottom: 20px;
}

.page__catalogs-list {
  margin-bottom: 19px;
}

.page__how-work {
  margin-bottom: 49px;
}

.page__additionally {
  margin-bottom: 36px;
}

.page__form {
  margin-bottom: 30px;
}

.page__main--index {
  background: linear-gradient(rgba(104, 183, 56, 0.85) 301px, $background-color-main 301px, $background-color-main 90%);
  position: relative;

  &::before {
    position: absolute;
    width: 100%;
    height: 302px;
    background-image: url("../img/index-bg-mobile.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    top: 0;
    right: 0;
    z-index: -1;
  }
}

@media (min-resolution: 2dppx) {
  .page__main--index::before {
    background-image: url("../img/index-bg-mobile-2x.jpg");
  }
}

@media (min-width: $tablet) {
  .page__main {
    padding-top: 36px;

    &--index {
      padding-top: 38px;
      background: none;

      &::before {
        display: none;
      }
    }
  }

  .page__top-block {
    margin-bottom: 0;
  }

  .page__catalogs-list {
    margin-bottom: 46px;
  }

  .page__how-work {
    margin-bottom: 83px;
  }

  .page__catalog {
    margin-bottom: 68px;
  }

  .page__additionally {
    margin-bottom: 0;
  }

  .page__gift {
    margin-bottom: 76px;
  }

  .page__form {
    margin-bottom: 72px;
  }
}

@media (min-width: $desktop) {
  .page__main {
    padding-top: 52px;

    &--catalog {
      padding-top: 47px;
    }

    &--index {
      padding-top: 28px;
    }
  }

  .page__body {
    padding-top: 55px;

    &--index {
      position: relative;

      &::after {
        position: absolute;
        width: 50vw;
        height: 694px;
        background-color: $background-color-accent;
        content: "";
        top: 0;
        right: 0;
        opacity: 0.85;
        z-index: 0;
      }

      &::before {
        position: absolute;
        width: 50vw;
        height: 694px;
        background-image: url("../img/index-bg-dekstop.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        content: "";
        top: 0;
        right: 0;
        z-index: 0;
      }
    }
  }

  .page__top-block {
    margin-bottom: 51px;
  }

  .page__catalogs-list {
    margin-bottom: 72px;
  }

  .page__how-work {
    margin-bottom: 82px;
  }

  .page__catalog {
    margin-bottom: 76px;
    grid-row: 1;
    grid-column: 1/3;
  }

  .page__wrapper {
    display: flex;
    margin-left: auto;
    margin-right: auto;

    &--form {
      margin-bottom: 67px;
      flex-wrap: wrap;
      gap: 30px 81px;
    }
  }

  .page__additionally {
    margin-bottom: 11px;
  }

  .page__gift {
    margin-left: auto;
    margin-top: auto;
  }

  @media (min-resolution: 2dppx) {
    .page__body--index::before {
      background-image: url("../img/index-bg-dekstop-2x.jpg");
    }
  }
}
