.text {
  font-size: 14px;
  line-height: 18px;
  color: $text-color;
  margin: 0;
  padding: 0;
  display: block;
  font-family: $font-secondary;
}

.text--big {
  font-size: 16px;
  line-height: 1;
  color: $text-color-additional;
  font-family: $font-main;
}

.text--small {
  font-size: 12px;
  line-height: 16px;
}

@media (min-width: $tablet) {
  .text {
    font-size: 16px;
    line-height: 1.5;
  }

  .text--big {
    font-size: 20px;
    line-height: 30px;
  }

  .text--small {
    font-size: 16px;
    line-height: 18px;
  }
}
