.title {
  display: block;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: $font-main;
}

.title--h1 {
  font-size: 36px;
  line-height: 1;
  color: $text-color-accent;
}

.title--h2 {
  font-size: 36px;
  line-height: 1.1;
  color: $text-color-additional;
}

.title--h3 {
  font-size: 24px;
  line-height: 1.5;
  color: $text-color-additional;
}

@media (min-width: $tablet) {
  .title--h1 {
    font-size: 60px;
  }

  .title--h2 {
    font-size: 60px;
    line-height: 1;
  }

  .title--h3 {
    font-size: 36px;
    line-height: 1;
  }
}
