$background-color-main: #ffffff;
$background-color-accent: #68b738;
$background-color-additional: #eaeaea;
$background-color-special: #f2f2f2;

$border-color: #cdcdcd;
$border-color-accent: #000000;
$border-color-additional: #d9d9d9;
$border-color-secondary: #ebebeb;
$border-color-custom: #e7e7e7;
$border-color-add: #e6e6e6;
$border-color-more: #f2f2f2;

$text-color: #444444;
$text-color-accent: #ffffff;
$text-color-additional: #000000;
$text-color-secondary: #111111;
$text-color-custom: #222222;

$font-main: "Oswald", sans-serif;
$font-secondary: "Lato", sans-serif;

$tablet: 768px;
$dekstop: 1440px;
